@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff;
}

/*NAVBAR  */

.navbar {
  display: flex;
  justify-content: end;
  background-color: #21a598;
  padding: 10px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.1s ease-out;
  font-weight: bold;
  transition: 0.2s ease-in;
}

.navbar a:hover {
  color: black;
}

/*HOME BLOGS*/

.blogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}

.blog a {
  color: #21a598;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.blogs :nth-child(1) {
  margin-top: 20px;
}

.titleLinkH,
.authorLink {
  transition: 0.2s ease-out;
}

.titleLinkH:hover {
  color: #177167;
}

.authorLink {
  color: #97a2a8;
  margin: 0;
}

.authorLink:hover {
  color: #686b6d;
}

.blog {
  /* margin-top: 20px; */
  box-shadow: 0 0 10px grey;
  width: 50%;
  background-color: white;
  padding: 10px;
}

.titleLinkH,
.authorLink {
  word-wrap: break-word;
}

/*CREATE */

.addBlog {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.addBlogDiv {
  width: 50%;
}

.addBlog form {
  width: 100%;
}

.addBlog form input,
.addBlog form textarea {
  width: 100%;
  border-radius: 10px;
}

#title {
  margin-top: 50px;
}

#title,
#body,
#author {
  margin-bottom: 50px;
  border: 2px solid rgb(96, 94, 94);
  outline: none;
  padding: 15px 20px 20px 10px;
  width: 100%;
}

#body {
  height: 30dvh;
}

button {
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
}

.addBlogBtn {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #21a598;
  color: white;
  font-weight: bold;
  transition: 0.1s ease-in;
}

.addBlogBtn:hover {
  background-color: #80c8c1;
  color: black;
}

/*BLOG DETAILS*/

.container {
  display: flex;
  justify-content: center;
}

.containerBlogDetalis {
  display: flex;
  justify-content: center;
  width: 70%;
}

.blogDetails {
  width: 100%;
}

.blogDetails h1,
.blogDetails h2,
.blogDetails p {
  word-wrap: break-word;
  margin-bottom: 20px;
}

.blogDetails h1 {
  text-align: center;
  margin-top: 20px;
  color: #608480;
}

.blogDetails h2 {
  padding: 5px;
  border-bottom: 1px solid #21a598;
}

.blogDetails p span {
  color: #1c6a62;
}

.blogDetails p {
  font-weight: bold;
}

.btnDelContainer {
  display: flex;
  justify-content: center;
}

.deleteBtn {
  padding: 10px 20px;
  background-color: #21a598;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.1s ease-in;
}

.deleteBtn:hover {
  color: white;
  background-color: #80c8c1;
}

@media (max-width: 904px) {
  .addBlogDiv {
    width: 80%;
  }
}

@media (max-width: 701px) {
  .containerBlogDetalis {
    width: 90%;
  }
}

@media (max-width: 543px) {
  .blog {
    width: 90%;
  }
}

@media (max-width: 520px) {
  .addBlogDiv {
    width: 90%;
  }
}

@media (max-width: 306px) {
  .blogs {
    margin-left: 10px;
  }

  .blog {
    width: 95%;
  }
}
